@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Tektur&display=swap');
table{
    text-align: center;
    font-family: Tektur;
    border: 1px solid #222; 
}
td{
     border: 1px solid #222;
     width: 100px; 
     height: 100px;
}
.red{
    background-color: rgb(201, 51, 51);
    border: 1px solid #222;
    width: 100px; 
    height: 100px;
}
.green{
    background-color: rgb(65, 209, 52);
    border: 1px solid #222;
    width: 100px; 
    height: 100px;
}
.blue{
    background-color: rgb(62, 131, 221);
    border: 1px solid #222;
    width: 100px; 
    height: 100px;
}
.purple{
    background-color: rgb(200, 46, 206);
    border: 1px solid #222;
    width: 100px; 
    height: 100px;
}